# Compiled output
build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependencies
node_modules

# Environment
.env
.env.local
.env.*.local

# Tests
coverage
.nyc_output

# IDE
.idea
.vscode/*
!.vscode/extensions.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# NestJS
*.tsbuildinfo
